name: Java CI with Codecov

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build backend with Maven
        working-directory: ./sneaker-store-back
        run: mvn clean install -DskipTests=true

      - name: Run tests with Maven
        working-directory: ./sneaker-store-back
        run: mvn test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./sneaker-store-back/target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
