name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image (backend)
        run: docker build -t sneaker-back-ci ./sneaker-store-back

      - name: Run tests inside container and extract coverage
        run: |
          # Run backend container and create coverage inside it
          docker run --name test-container sneaker-back-ci

          # Copy jacoco XML from container to host
          docker cp test-container:/app/target/site/jacoco/jacoco.xml coverage.xml

          # Stop & remove container
          docker rm -f test-container

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
          fail_ci_if_error: true
